.container
{
	margin-bottom:100px;
}

.orange-bg
{
	background-color: #feeae9;
	border-radius: 8px;
}
.carousel-item 
{
	padding:20px 40px;
}
.price
{
	color:#ff4177;
}
.buy-here-button
{
	background-color: #ff4177;
	border:2px solid #ff4177;
	color:white;
	border-radius:5px;
	padding:5px 20px;
	cursor:pointer;

}
.cat1,.cat2,.cat3
{
    padding: 10px 30px;
    border-radius:8px;
}

.cat1
{
  background-color: orange;
 
}
.cat2
{ 
   background-color:orchid;
   
}
.cat3
{
  background-color: blue;
  
}
.categories h1
{
	color:white;
}
.categories img
{
	width:100px;
}
.card
{
	box-shadow:5px 5px 10px lightgrey;
}
.card-footer
{
	border:none;
	background-color:white;
}
#Subscrib
{
	height: 300px;
}

.footer-text
{
	text-align: center;
}